p {
  text-align:center
}


.principal{
    background: #CCCCCC;
    text-align: center
}
.itens {
  font-style: italic;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

h2 {
  text-align: center;
}
.imagembeneficios {
  width: 50%;
}
